<!DOCTYPE html>
<html>
<head>
    <title>Flask API Example</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>List of Accomodation</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Broker Name</th>
                <th>Contact Number</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.brokername }}</td>
                    <td>{{ record.contactno }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>